:root {
  --accent: #00FFFF;
  --accent2: #5C6AFF;
  --main-bg: rgb(20 20 20);
  --main-transition: .3s;
  --short-transition: .15s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  color: white;
  background: var(--main-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.min-h-screen {
  min-height: 100svh;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grey {
  color: grey;
}

/* Desktop */
@media (min-width: 950px) {
  .error-page-dialog {
    max-width: 320px;
  }
}

/* Smaller desktop / tablet */
@media (max-width: 949px) and (min-width: 500px) {
  .error-page-dialog {
    max-width: 300px;
  }
}

/* Mobile / small tablet */
@media (max-width: 499px) {
  body {
    --max-mobile-content-width: calc(100% - 26px);
  }

  .error-page-dialog {
    max-width: var(--max-mobile-content-width);
  }
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-link,
p a {
  position: relative;
  font-weight: 600;
  text-decoration: none;
  max-width: fit-content;
}

.text-link::before,
p a::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  z-index: -1;
  background: linear-gradient(45deg, var(--accent), var(--accent2));
  transition: var(--short-transition);
}

.text-link:hover::before,
p a:hover::before {
  height: 3px;
}

p a {
  color: inherit;
}

.text-link {
  color: white;
}

.m-inline-auto {
  margin-inline: auto;
}