:root {
  --accent-num: 0, 255, 255;
  --accent: rgb(var(--accent-num));
  --accent2-num: 92, 106, 255;
  --accent2: rgb(var(--accent2-num));
  --main-bg-num: 20, 20, 20;
  --main-bg: rgb(var(--main-bg-num));
  --main-transition: .3s;
  --short-transition: .15s;
  --nav-height: 73px;
  --nav-space-inline: 30px;
  --border-radius-small: 5px;
  --border-radius-default: 14px;
  --border-radius: var(--border-radius-default);
  --main-border-color: rgba(255, 255, 255, 0.134);
  color-scheme: dark;
  --background-blur: 46px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16.5px;
}

body {
  min-height: 100svh;
  color: white;
  background: var(--main-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.min-h-screen {
  min-height: 100svh;
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grey {
  color: grey;
}

/* Desktop */
@media (min-width: 950px) {
  .error-page-dialog {
    max-width: 320px;
  }

  .mobile {
    display: none;
  }

  nav {
    padding-inline: var(--nav-space-inline);
  }

  .nav-link {
    --border-radius: 10px;
    height: 100%;
    padding-inline: 11px;
  }

  .nav-logo {
    font-weight: 900;
    transition: var(--short-transition);
    letter-spacing: -1px;
    font-size: 1.35rem;
  }

  .nav-logo:hover {
    text-shadow: 0 -1px rgba(var(--accent2-num), .6);
  }

  .blurry-mouse-follower {
    filter: blur(var(--background-blur));
    animation: blurry-mouse-follower 4s linear infinite;
    opacity: .7;
    width: var(--width);
    aspect-ratio: 1;
    z-index: -1;
    background: var(--accent2);
    border-radius: 50%;
  }
}

/* Smaller desktop / tablet */
@media (max-width: 949px) and (min-width: 500px) {
  .error-page-dialog {
    max-width: 300px;
  }

  .mobile {
    display: none;
  }

  nav {
    padding-inline: var(--nav-space-inline);
  }

  .nav-link {
    --border-radius: 10px;
    height: 100%;
    padding-inline: 11px;
  }

  .nav-logo {
    font-weight: 900;
    transition: var(--short-transition);
    letter-spacing: -1px;
    font-size: 1.35rem;
  }

  .nav-logo:hover {
    text-shadow: 0 -1px rgba(var(--accent2-num), .6);
  }

  .blurry-mouse-follower {
    filter: blur(var(--background-blur));
    animation: blurry-mouse-follower 4s linear infinite;
    opacity: .7;
    width: var(--width);
    aspect-ratio: 1;
    background: var(--accent);
    border-radius: 50%;
    z-index: -1;
  }
}

/* Mobile / small tablet */
@media (max-width: 499px) {
  body {
    --max-mobile-content-width: calc(100% - 26px);
  }

  .error-page-dialog {
    max-width: var(--max-mobile-content-width);
  }

  .desktop {
    display: none;
  }

  .nav-link {
    --border-radius: 10px;
    height: 100%;
  }
}

.error-page-dialog h1 {
  text-shadow: 2px 2px 0 rgb(70, 0, 0);
  color: red;
  font-size: 2.3rem;
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.gap-20 {
  display: flex;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-link,
p a {
  font-weight: 600;
  transition: var(--short-transition);
  max-width: fit-content;

  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right, var(--accent), var(--accent2));
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 100%;
  background-size: 100% 2px;
  color: rgba(255, 255, 255, 0.9);
}

.text-link:hover,
p a:hover {
  color: white;
  background-size: 100% 4px;
}

.m-inline-auto {
  margin-inline: auto;
}

.max-height-20 {
  max-height: 20px;
  width: auto;
}

.grid {
  display: grid;
}

.no-style {
  background: transparent;
  border: none;
  font-size: 1rem;
  color: inherit;
}

.nav-link {
  color: white;
  transition: var(--main-transition);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  background: rgba(var(--main-bg-num), .5);
  backdrop-filter: blur(12px);
  height: var(--nav-height);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px var(--main-border-color) solid;
}

.before-hover-height,
.relative {
  position: relative;
}

.before-hover-height {
  border-radius: var(--border-radius);
}

.bhhp-padding {
  padding: 3px 5px;
}

.before-hover-height::before {
  inset: auto 0 0 0;
  height: 0;
  transition: var(--main-transition) cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  content: '';
  position: absolute;
}

.before-hover-height:hover::before {
  height: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.nav-links {
  height: 60%;
  margin-block: auto;
}

a:active,
button:active {
  opacity: .8;
}

body:has(nav) {
  padding-top: var(--nav-height);
}

.nav-logo,
.gradient-text {
  background-clip: text;
  text-decoration: none;
  transition: var(--main-transition);
  background: -webkit-linear-gradient(254deg, var(--accent), var(--accent2));
  -webkit-background-clip: text;
  max-width: fit-content;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.nav-logo {
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.4rem;
}

.nav-link::after {
  display: block;
  content: '';
  left: 0;
  position: absolute;
  bottom: -2px;
  transition: var(--main-transition);
  height: 3px;
  width: 0;
  border-radius: 100vw;
  background: linear-gradient(45deg, var(--accent), var(--accent2));
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  text-shadow: 0 0 7px white;
}

.blurry-bg-wrp {
  position: relative;
  filter: blur(var(--background-blur));
  opacity: .7;
  height: 100%;
}

.blurry-bg-element {
  position: absolute;
}

.blurry-bg-element.first {
  width: 290px;
  height: 130px;
  border-radius: 20px 0 40px 0;
  background: linear-gradient(26deg, var(--accent), transparent);
  animation: first-blurry-bg-element 40s infinite linear;
}

.blurry-bg-element.second {
  width: 100px;
  height: 90px;
  border-radius: 30%;
  background-color: var(--accent2);
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  animation: second-blurry-bg-element 10s infinite linear;
}

@keyframes first-blurry-bg-element {
  50% {
    opacity: .5;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes second-blurry-bg-element {
  50% {
    transform: scale(.6);
  }
}

.absolute {
  position: absolute;
}

.main-header {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-inline: 80px;
  min-height: calc(100svh - var(--nav-height));
}

.header-side:first-child>p {
  max-width: 80%;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.header-side {
  max-width: fit-content;
  margin-inline: auto;
}

.main-heading {
  font-size: 2.4rem;
}

@keyframes blurry-mouse-follower {
  50% {
    transform: scale(.7);
    opacity: .5;
  }
}