:root {
  --accent-num: 0, 255, 255;
  --accent: rgb(var(--accent-num));
  --accent2-num: 92, 106, 255;
  --accent2: rgb(var(--accent2-num));
  --main-bg-num: 20, 20, 20;
  --main-bg: rgb(var(--main-bg-num));
  --sec-bg-num: 35, 35, 35;
  --sec-bg: rgb(var(--sec-bg-num));
  --main-transition: .3s;
  --short-transition: .15s;
  --nav-height: 73px;
  --nav-space-inline: 30px;
  --border-radius-small: 5px;
  --border-radius-default: 14px;
  --border-radius: var(--border-radius-default);
  --border-radius-big: 25px;
  --main-border-color: rgba(255, 255, 255, 0.134);
  color-scheme: dark;
  --background-blur: 46px;
  --home-main-gap: 20px;
  --home-section-gap: 15px;
  --line-x-height: 1px;
  --sec-bg-transparent: rgba(var(--sec-bg-num), .5);
  --appwrite-color: #FD366E;
  --css-color: #0277BD;
  --git-color: #F03C2E;
  --godot-color: #478CBF;
  --html-color: #E14E1D;
  --js-color: #F0DB4F;
  --next-color: #fff;
  --python-color: #366994;
  --react-color: #00D8FF;
  --supabase-color: #3ecf8e;
  --svelte-color: #FF3E00;
  --ts-color: #007ACC;
  --tag-black: #242938;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16.5px;
  scroll-behavior: smooth;
}

html:has(nav) {
  scroll-padding-top: calc(var(--nav-height) + 20px);
}

body {
  min-height: 100svh;
  color: white;
  background: var(--main-bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

p {
  line-height: 1.4;
}

.min-h-screen {
  min-height: 100svh;
}

main.min-h-screen,
header.min-h-screen {
  min-height: calc(100svh - var(--nav-height));
}

.flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.grey {
  color: rgb(191, 191, 191);
}

/* Desktop */
@media (min-width: 950px) {
  .error-page-dialog {
    max-width: 320px;
  }

  .home-main {
    margin-inline: auto;
    width: 700px;
  }

  .main-header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-inline: 80px;
  }

  .header-side:first-child>p {
    max-width: 80%;
  }

  .projects-wrp {
    width: 800px;
  }
}

@media (min-width: 660px) {
  .mobile {
    display: none;
  }

  nav {
    padding-inline: var(--nav-space-inline);
  }

  .nav-link {
    --border-radius: 10px;
    height: 100%;
    padding-inline: 11px;
  }

  .nav-logo {
    font-weight: 900;
    transition: var(--short-transition);
    letter-spacing: -1px;
    font-size: 1.35rem;
  }

  .nav-logo:hover {
    text-shadow: 0 -1px rgba(var(--accent2-num), .6);
  }

  .blurry-mouse-follower {
    filter: blur(var(--background-blur));
    animation: blurry-mouse-follower 4s linear infinite;
    opacity: .7;
    width: var(--width);
    aspect-ratio: 1;
    transition: var(--main-transition) background-color;
    background: var(--accent2);
    border-radius: 50%;
    z-index: -1;
  }


  .blurry-mouse-follower-wrp {
    inset: 0;
    overflow: hidden;
    z-index: -1;
  }

  .header-side:last-child {
    display: flex;
    justify-content: flex-end;
  }

  .socials-link:hover img {
    filter: none;
  }

  .project {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    --project-gap: 20px;
  }

  .project-side:first-child {
    padding-right: calc(var(--project-gap) / 2);
  }

  .project-side:last-child {
    padding-left: calc(var(--project-gap) / 2);
  }

  .primary-button:hover::before {
    background-position-x: -100px;
  }

  .primary-button:hover {
    border-color: var(--accent);
  }

  .secondary-button:hover {
    border-color: white;
    box-shadow: 0 0 5px white, inset 0 0 5px white;
  }

  .project-links {
    display: flex;
    gap: 10px;
  }
}

/* Smaller desktop / tablet */
@media (max-width: 949px) and (min-width: 660px) {
  .error-page-dialog {
    max-width: 300px;
  }

  .main-header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: calc(100% - 70px);
    margin-inline: auto;
  }

  .home-main {
    margin-inline: auto;
    width: 600px;
  }

  .projects-wrp {
    width: 600px;
  }
}

/* Mobile / small tablet */
@media (max-width: 659px) {
  body {
    --max-mobile-content-width: calc(100% - 26px);
    --nav-space-inline: 25px;
  }

  .error-page-dialog {
    max-width: var(--max-mobile-content-width);
  }

  .desktop {
    display: none;
  }

  .nav-link {
    --border-radius: 10px;
    height: 100%;
    border-bottom: 1px var(--main-border-color) solid;
    padding-block: 14px;
    width: calc(100% - 40px);
    margin-inline: auto;
  }

  .nav-link:last-child {
    border-bottom: none;
  }

  .header-side {
    width: 100%;
  }

  .header-side:first-child * {
    text-align: center;
    margin-inline: auto;
    z-index: 99;
  }

  .header-side:last-child {
    position: absolute;
    height: 100%;
  }

  .main-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blurry-bg-element.second {
    top: 20svh !important;
  }

  .mobile-nav {
    padding-inline: var(--nav-space-inline);
  }

  .blurry-bg-wrp {
    opacity: .5;
  }

  .home-main {
    margin-inline: auto;
    width: calc(100% - 30px);
  }

  .header-side:first-child>p {
    max-width: 80%;
  }

  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--home-main-gap);
  }

  .socials-link:active img {
    filter: none;
  }

  .footer-text {
    text-align: center;
  }

  .footer-top {
    display: flex;
    justify-content: center;
  }

  .projects-wrp {
    width: calc(100% - 20px);
  }

  .project {
    display: grid;
    gap: 15px;
  }

  .primary-button:active::before {
    background-position-x: -100px;
  }

  .primary-button:active {
    border-color: var(--accent);
  }

  .secondary-button:active {
    border-color: white;
    box-shadow: 0 0 5px white, inset 0 0 5px white;
  }

  .project-links {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .project-links a:first-child {
    margin-right: 5px;
  }

  .project-links a:last-child,
  .project-links p:last-child {
    margin-left: 5px;
  }

  .mobile-nav-menu {
    height: calc(100svh - var(--nav-height));
    width: 100%;
    position: fixed;
    transition: var(--main-transition) ease-in-out;
    z-index: 999;
    display: grid;
    grid-template-rows: auto 50px;
  }

  .mobile-nav-socials {
    padding-block: 10px;
  }

  .max-h-fit {
    max-height: fit-content;
  }
}

.error-page-dialog h1 {
  text-shadow: 2px 2px 0 rgb(70, 0, 0);
  color: red;
  font-size: 2.3rem;
}

.gap-10 {
  display: flex;
  gap: 10px;
}

.gap-20 {
  display: flex;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.text-link,
p a {
  font-weight: 600;
  transition: var(--short-transition);
  max-width: fit-content;

  display: inline;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent), linear-gradient(to right, var(--accent), var(--accent2));
  background-repeat: no-repeat;
  background-position: 120%, 122%, 0 100%;
  background-size: 100% 2px;
  color: rgba(255, 255, 255, 0.9);
}

.text-link:hover,
p a:hover {
  color: white;
  background-size: 100% 4px;
}

.m-inline-auto {
  margin-inline: auto;
}

.max-height-20 {
  max-height: 20px;
  width: auto;
}

.max-height-25 {
  max-height: 25px;
  width: auto;
}

.grid {
  display: grid;
}

.no-style {
  background: transparent;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  color: inherit;
}

.nav-link {
  color: white;
  transition: var(--main-transition);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-bottom: 1px var(--main-border-color) solid;
}

nav,
.main-bg-transparent {
  background: rgba(var(--main-bg-num), .5);
  backdrop-filter: blur(12px);
}

.before-hover-height,
.relative {
  position: relative;
}

.before-hover-height {
  border-radius: var(--border-radius);
}

.bhhp-padding {
  padding: 3px 5px;
}

.before-hover-height::before {
  inset: auto 0 0 0;
  height: 0;
  transition: var(--main-transition) cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  content: '';
  position: absolute;
}

.before-hover-height:hover::before {
  height: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}

.nav-links {
  height: 60%;
  margin-block: auto;
}

a:active,
button:active,
.active-opacity:active {
  opacity: .8;
}

body:has(nav) {
  padding-top: var(--nav-height);
}

.nav-logo,
.gradient-text {
  background-clip: text;
  text-decoration: none;
  transition: var(--main-transition);
  background: -webkit-linear-gradient(254deg, var(--accent), var(--accent2));
  -webkit-background-clip: text;
  max-width: fit-content;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.nav-logo {
  -webkit-user-select: none;
  user-select: none;
  font-size: 1.4rem;
}

.nav-link::after {
  display: block;
  content: '';
  left: 0;
  position: absolute;
  bottom: -2px;
  transition: var(--main-transition);
  height: 3px;
  width: 0;
  border-radius: 100vw;
  opacity: 0;
  background: linear-gradient(45deg, var(--accent), var(--accent2));
}

.nav-link:hover:after {
  width: 100%;
  opacity: 1;
}

.nav-link:hover {
  text-shadow: 0 0 7px white;
}

.blurry-bg-wrp {
  position: relative;
  filter: blur(var(--background-blur));
  opacity: .7;
  height: 100%;
}

.blurry-bg-element {
  position: absolute;
}

.blurry-bg-element.first {
  width: 290px;
  height: 130px;
  border-radius: 20px 0 40px 0;
  background: linear-gradient(26deg, var(--accent), transparent);
  animation: first-blurry-bg-element 40s infinite linear;
}

.blurry-bg-element.second {
  width: 100px;
  height: 90px;
  border-radius: 30%;
  background-color: var(--accent2);
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  animation: second-blurry-bg-element 10s infinite linear;
}

@keyframes first-blurry-bg-element {
  50% {
    opacity: .5;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes second-blurry-bg-element {
  50% {
    transform: scale(.6);
  }
}

.absolute {
  position: absolute;
}

.main-header {
  min-height: calc(100svh - var(--nav-height));
}

.justify-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.main-heading {
  font-size: 2.4rem;
}

@keyframes blurry-mouse-follower {
  50% {
    transform: scale(.7);
    opacity: .5;
  }
}

.home-main {
  display: flex;
  gap: var(--home-main-gap);
  padding-block: calc(var(--home-main-gap) * 2);
}

.home-section {
  display: flex;
  flex-direction: column;
  gap: var(--home-section-gap);
}

.home-main-wrp {
  width: 100%;
  border-top: 1px var(--main-border-color) solid;
}

.line-x {
  height: var(--line-x-height);
  width: 100%;
  margin-block: auto;
  background: var(--main-border-color);
  border-radius: 100vw;
}

.section-link-self {
  visibility: hidden;
  font-size: 1.3rem;
  color: inherit;
  text-decoration: underline;
}

.section-heading:hover .section-link-self {
  visibility: visible;
}

.max-width-fit {
  max-width: fit-content;
}

.header-side {
  max-width: fit-content;
  margin-inline: auto;
}

.home-skill-icons {
  margin-inline: 30px;
  display: flex;
  flex-wrap: wrap;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
}

img.no-select {
  pointer-events: none;
}

.home-section-text,
.home-space-inline {
  margin-inline: var(--home-section-gap);
}

.blurry-mouse-follower-hovering {
  background-color: var(--accent);
}

footer {
  border-top: 1px var(--main-border-color) solid;
  gap: var(--home-main-gap);
  padding: 30px 20px;
}

.w-full {
  width: 100%;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.footer-content {
  padding-inline: var(--home-main-gap);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.socials-link img {
  max-height: 23px;
  width: auto;
  filter: grayscale(1);
  transition: var(--main-transition) linear;
}

.projects-top {
  margin-block: var(--home-main-gap);
}

.sec-bg-card {
  padding: 20px;
  border: 1px var(--main-border-color) solid;
  border-radius: var(--border-radius-big);
}

.sec-bg-card,
.sec-bg-transparent {
  background: var(--sec-bg-transparent);
  backdrop-filter: blur(10px);
}

.project-tag {
  border-radius: var(--border-radius-small);
  padding: 3px 5px;
  font-size: .9rem;
  background: var(--sec-bg);
  border: 1px rgba(255, 255, 255, 0.161) solid;
  font-weight: 500;
}

.appwrite-tag {
  background: var(--appwrite-color);
  color: white;
}

.css-tag {
  background: var(--css-color);
  color: white;
}

.git-tag {
  background: var(--git-color);
  color: white;
}

.godot-tag {
  background: var(--godot-color);
  color: white;
}

.html-tag {
  background: var(--html-color);
  color: white;
}

.javascript-tag {
  background: var(--js-color);
  color: var(--sec-bg);
}

.nextjs-tag {
  background: var(--tag-black);
  color: var(--next-color);
}

.python-tag {
  background: var(--python-color);
  color: white;
}

.react-tag {
  background: var(--tag-black);
  color: var(--react-color);
}

.supabase-tag {
  background: var(--tag-black);
  color: var(--supabase-color);
}

.sveltekit-tag {
  background: var(--svelte-color);
  color: white;
}

.typescript-tag {
  background: var(--ts-color);
  color: white;
}

.project-img {
  max-width: 100%;
  height: auto;
  border: 1px var(--main-border-color) solid;
  border-radius: var(--border-radius);
}

.projects-wrp {
  margin: 0 auto 60px auto;
}

.gap-30 {
  display: flex;
  gap: 30px;
}

.gap-5 {
  display: flex;
  gap: 5px;
}

.button {
  padding: 10px 14px;
  border-radius: var(--border-radius);
  transition: var(--main-transition) linear;
  color: inherit;
  font-weight: 600;
  background: transparent;
}

.primary-button {
  border: 2px var(--accent2) solid;
  position: relative;
  overflow: hidden;
}

.primary-button::before {
  position: absolute;
  content: '';
  inset: 0;
  width: calc(100% + 100px);
  background: linear-gradient(90deg, rgba(var(--accent2-num), .8), rgba(var(--accent-num), .8));
  transition: inherit;
  z-index: -1;
}

.secondary-button {
  background: transparent;
  border: 2px rgba(255, 255, 255, 0.5) solid;
}

.red {
  color: rgb(255, 37, 37);
}

.small {
  font-size: .9rem;
}

.project-links {
  align-items: center;
}

.gap-15 {
  display: flex;
  gap: 15px;
}